/* 이미지 */
body {
 height: auto;
}
.login_wrapper{
	display: table;
	height: 50%;
    width: 100%;
    margin-top: 200px;
	
}
 .background_img{
	background-image: url(/spw/include/img/background.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	filter: blur(0px);
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
}
.login_box{
	display: table-cell;
	vertical-align: middle;
	
	 
}
.login_box1{
	margin-top: -200px;
	vertical-align: middle;
	
	 
}
.btn{
	height: 50px;
}
.login_logo{
	width:100%;
	margin-bottom: 50px;
		
}
/*로그인에서 흰색바탕 */
.dd{
	width:500px;
	margin: 0 auto;
	background: rgba(255, 255, 255, 0.5);
	text-align:center;
	padding: 100px 0px 80px 0px;
}
	
.login_logo > a img{
	width: 500px;
	max-width:100%;
	height:auto;

}
/*메인 화면 */
.main_go a:hover{
	background-color: olive;
}
.main_go a{
	
	font-weight: bold;
	text-decoration: none;
	font-size: 18px;
	
}
.subject{
	font-weight: bold;
    font-size: 40px;
    margin: 0px;
        position: relative;
    top: -50px;
}
.login_contents {
	
	text-align:center;
	margin:0 auto;
}
/* 로그인 폼 */
.login_form{
	
	text-align:center;
	margin:0 auto;
}
.loginfo{
	font-size:20px;
	width: 500px;
	width: 18.750rem;
	height: 26px;
	height: 1.625rem;
	padding:10px 0 10px 0;
	margin-bottom:15px;
	border:1px solid #B7B7B7;	
}
.sub_subject{
	
}
.loginbtn{
	width:300px;
	display: inline-block;
	font-size: 1.2em;
	height: 3em;
	line-height: 1.75em;
	text-decoration: none;
	color: white;
	font-weight: bold;
	background-color: #ee6b28;
	padding: 0 0.5em;
	border: none;
	border-radius: 0.25em;
	cursor: pointer;
	outline: none;
	border-collapse: separate;
	vertical-align: middle;
	white-space: nowrap;
	box-sizing: border-box;
	margin-top :8px ;
	margin-bottom:8px;
}
.link_a{
	margin-top: 10;
	;
 	
}
.findinfo{
	font-size:medium;
	font-weight:bold;
	text-decoration:none;
	color: #333;
	
}
.login_form a:hover{
	background-color: #AAA;
}

@media screen and (max-width: 600px){
	.dd {
		width: auto;
		max-width: 300px;
		padding: 50px;
		padding: 3.125rem;
	}

	.login_contents {
		max-width: 300px;
	}

	.loginfo {
		font-size: 20px;
		width: 100%;
		height: 3em;
		padding: 0.5em;
		box-sizing: border-box;
	}

	.loginbtn {
    	width: 100%;
	}

	.naver_btn img{
		width: 100%;
		height: auto;
	}

	.subject {
		top: 0;
		margin-bottom: 0.5em;
		font-size: 2em;
	}
}